<!-- about us -->
<section class="section-lg about pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="section-title mt-5">Our Legacy</h2>
			</div>
			<div class="col-lg-12 mb-100 text-justify">
				<p>Hi there, my name is <a class="text-info" data-toggle="tooltip"
						title="No, this is not my real name.">Raiden Sakura.</a></p>
				<p class="my-4">
					I'm the founder of Shogun. It all started when I was a staff for my Honkai Impact 3 Armada
					Discord server called <a class="text-purple" href="https://discord.gg/teriri">Teriri's Gaming
						Hub.</a>
					After some time I realize we needed a way to forward messages sent in one channel to another server
					automatically,
					and thus in my search of finding a self-hostable open source bot which has that
					feature,
					I stumbled upon <a class="text-danger" href="https://discord.gg/red">Red Discord Bot.</a>
				</p>
				<div class="my-5 team-member rounded">
					<div class="d-flex mb-4">
						<div class="mr-3">
							<img class="rounded-circle img-fluid" src="images/team/red.png" alt="team-member">
						</div>
						<div class="align-self-center">
							<h4>Red Discord Bot</h4>
							<h6 class="text-color">Language: Python</h6>
						</div>
					</div>
					<p>
						Red is a fully modular bot – meaning all features and commands can be enabled/disabled to your
						liking, making it completely customizable.
						This is a self-hosted bot – meaning you will need to host and maintain your own instance.
						You can turn Red into an admin bot, music bot, trivia bot, new best friend or all of these
						together!
					</p>
				</div>
				<p class="my-4">
					The bot came with a few basic default plugins (called cogs),
					but due to their vast open-source community of various people creating their own cogs, I found one
					made by
					<mark><a class="text-info" data-toggle="collapse" href="#desc-coffeebank" aria-expanded="false"
							aria-controls="desc-coffeebank">
							coffeebank.</a>
					</mark>
				</p>
				<div class="collapse" id="desc-coffeebank">
					<div class="card card-body">
						<p><b>Coffeebank:</b> One of the cog creators for Red Discord bot which made the feature I wanted possible,
							thanks to their msgmover cog. Check out their GitHub profile <a
								class="text-purple" href="https://github.com/coffeebank">here!</a>
						</p>
					</div>
				</div>
				<p class="my-4">
					After some time configuring the bot (which now called Shogun), I decided it's worth it to open her
					up to be invited by others
					since I find her sets of advanced tools something useful and unique that rarely any other bot has.
				</p>
				<p class="my-4">
					I gradually upgraded the system she runs on to make sure she's able to perform tasks smoothly,
					moving between multiple hosting provider.
					At the time of writing, she now runs on <mark>2 vCore Ryzen 9 5950X with 4GB RAM</mark> for a
					discounted amount of <mark>$9 monthly</mark>.
				</p>
				<img class="img-fluid w-100 my-5 rounded" src="images/product/sc.png" alt="banner-img">
				<p class="my-4">
					As Discord bots needs to be
					<a class="text-purple"
						href="https://support.discord.com/hc/en-us/articles/360040720412-Bot-Verification-and-Data-Whitelisting">officially
						verified</a>
					before being able to be in more than 100 servers at once, I do not plan on mass-advertising
					Shogun or increasing her popularity. Verifying Shogun would require me stripping some of her most useful features in order to follow
					Discord verification guideline, and that goes against <a class="text-purple" href="#vision">my wish</a> and 
					my initial philosophy of creating Shogun, which is to cater to niche and more specific needs.
				</p>
				<p class="my-4">
					If you find Shogun useful to you and wish to contribute, helping fund the <mark>$9 monthly</mark> hosting cost is
					already enough for us. Make sure to join our Discord server before contributing on our <a class="text-purple" href="https://ko-fi.com/raidensakura">Ko-fi page</a> 
					to obtain a special role. Your Discord tag will also be added into our <mark>/supporters</mark> command.
				</p>
			</div>
			<div class="col-lg-12">
				<div class="about-video">
					<video class="w-100 rounded shadow-lg" autoplay loop muted>
						<source src="https://files.catbox.moe/1wlccd.m4v" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
		<!-- background shapes -->
		<img src="images/background-shape/green-dot.png" alt="background-shape" class="about-bg-1 up-down-animation">
		<img src="images/background-shape/blue-dot.png" alt="background-shape" class="about-bg-2 left-right-animation">
		<img src="images/background-shape/green-half-cycle.png" alt="background-shape"
			class="about-bg-3 up-down-animation">
		<img src="images/background-shape/seo-ball-1.png" alt="background-shape"
			class="about-bg-4 left-right-animation">
		<img src="images/background-shape/team-bg-triangle.png" alt="background-shape"
			class="about-bg-5 up-down-animation">
		<img src="images/background-shape/service-half-cycle.png" alt="background-shape"
			class="about-bg-6 left-right-animation">
</section>
<!-- /about us -->