<!-- about us -->
<section class="section-lg about pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="section-title mt-5">About Me</h2>
			</div>
			<div class="col-lg-12 mb-100">
				<p>Hi there, my name is <a class="text-purple" data-toggle="tooltip"
						title="No, this is not my real name.">Raiden Sakura.</a></p><br>
				<p>I play video games, sometimes write codes, drink tea &amp; coffee, do a little bit of Photoshop,
					occasionally clean my figurines, but most of the time just spend my time flirting with <a
						class="text-purple" data-toggle="collapse" href="#desc-ayaya" aria-expanded="false"
						aria-controls="desc-ayaya">
						Ayaya.</a></p>
				<div class="collapse" id="desc-ayaya">
					<div class="card card-body">
						<p>She is the one who has been taking care of me mentally.
							Among her countless contributions are overseeing Shogun and building our Minecraft server.
							She is a person very dear to me and one that I treasure the most. </p>
					</div>
				</div>
				<br>
				<p><i class="ti-game mx-2"></i>I commonly play one of these few games below during my free time.
					Feel free to add me in any of them or say hi if you happen to meet me in any of them.
					I usually accept strangers too unless my friends slot is full or you have been inactive for too
					long.
				</p>
				<div class="row">
					<div class="col-sm-auto">
						<button class="btn btn-secondary my-2" type="button" data-toggle="collapse"
							data-target="#genshin-uid" aria-expanded="false" aria-controls="genshin-uid">
							Genshin UID<i class="ti-angle-down ml-2"></i>
						</button>
						<div class="collapse" id="genshin-uid">
							<div class="card card-body">
								<p>802649533</p>
								<p><sub>Asia server | AR 60</sub><BR>
									<sub>Fav. character: <br>Raiden Shogun</sub>
		
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-auto">
						<button class="btn btn-secondary my-2" type="button" data-toggle="collapse"
							data-target="#honkai-uid" aria-expanded="false" aria-controls="honkai-uid">
							Honkai UID<i class="ti-angle-down ml-2"></i>
						</button>
						<div class="collapse" id="honkai-uid">
							<div class="card card-body">
								<p>20177789</p>
								<p><sub>Asia server | CL 80</sub><BR>
									<sub>Fav. valkyrie: <br>Herrscher of Thunder</sub>
		
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-auto">
						<a href="https://steamcommunity.com/id/raidensakura/" target="_blank"
							class="btn btn-secondary my-2">Steam URL<i class="ti-arrow-top-right mx-2"></i></a>
					</div>
				</div>
				<div class="collapse" id="honkai-uid">
					<div class="card card-body">
						<p>ewewe</p>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<!-- about video -->
				<div class="about-video">
					<!-- <img class="img-fluid w-100" src="images/about/video-banner.jpg" alt="video-thumb">
					<a class="venobox play-btn" href="https://www.youtube.com/watch?v=iTGwSreeskU" data-vbtype="iframe"><i
							class="ti-control-play"></i></a>
				</div> -->
					<video class="w-100 rounded shadow-lg" autoplay loop muted>
						<source src="https://files.catbox.moe/npmyzd.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
		<!-- background shapes -->
		<img src="images/background-shape/green-dot.png" alt="background-shape" class="about-bg-1 up-down-animation">
		<img src="images/background-shape/blue-dot.png" alt="background-shape" class="about-bg-2 left-right-animation">
		<img src="images/background-shape/green-half-cycle.png" alt="background-shape"
			class="about-bg-3 up-down-animation">
		<img src="images/background-shape/seo-ball-1.png" alt="background-shape"
			class="about-bg-4 left-right-animation">
		<img src="images/background-shape/team-bg-triangle.png" alt="background-shape"
			class="about-bg-5 up-down-animation">
		<img src="images/background-shape/service-half-cycle.png" alt="background-shape"
			class="about-bg-6 left-right-animation">
</section>
<!-- /about us -->