<!-- team -->
<section class="section-sm team" id="team">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-title">Other Projects</h2>
			</div>
		</div>
		<div class="col-10 mx-auto">
			<div class="team-slider">
				<!-- team-member -->
				<div class="team-member">
					<div class="d-flex mb-4">
						<div class="mr-3">
							<img class="rounded-circle img-fluid" src="images/team/hoyolab.png" alt="team-member">
						</div>
						<div class="align-self-center">
							<h4>Hoyolab Auto Login</h4>
							<h6 class="text-color">raidensakura / hoyolab-auto-login</h6>
						</div>
					</div>
					<p>An auto-login script for Hoyolab games. Primarily made to run on WayscriptX.<br><br></p>
					<a href="https://github.com/raidensakura/hoyolab-auto-login" class="btn-sm btn-secondary primary-shadow">GitHub</a>
				</div>
				<!-- team-member -->
				<div class="team-member">
					<div class="d-flex mb-4">
						<div class="mr-3">
							<img class="rounded-circle img-fluid" src="images/team/kofi.png" alt="team-member">
						</div>
						<div class="align-self-center">
							<h4>Ko-fi Discord Notification</h4>
							<h6 class="text-color">raidensakura / kofi-discord-notification</h6>
						</div>
					</div>
					<p>API to send Discord webhook whenever donation is made on Ko-fi.<br><br></p>
					<a href="https://github.com/raidensakura/kofi-discord-notification" class="btn-sm btn-secondary primary-shadow">GitHub</a>
				</div>
				<!-- team-member -->
				<div class="team-member">
					<div class="d-flex mb-4">
						<div class="mr-3">
							<img class="rounded-circle img-fluid" src="https://img.icons8.com/cotton/512/settings.png" style="height: 70px;" alt="team-member">
						</div>
						<div class="align-self-center">
							<h4>Raiden Cogs</h4>
							<h6 class="text-color">raidensakura / raiden-cogs</h6>
						</div>
					</div>
					<p>Various cogs made by Raiden for Red Discord Bot.<br><br></p>
					<a href="https://github.com/raidensakura/raiden-cogs" class="btn-sm btn-secondary primary-shadow">GitHub</a>
				</div>
			</div>
		</div>
	</div>
	<!-- backgound image -->
	<img src="../../images/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg">
	<!-- background shapes -->
	<img class="team-bg-shape-1 up-down-animation" src="../../images/background-shape/seo-ball-1.png" alt="background-shape">
	<img class="team-bg-shape-2 left-right-animation" src="../../images/background-shape/seo-ball-1.png"
		alt="background-shape">
	<img class="team-bg-shape-3 left-right-animation" src="../../images/background-shape/team-bg-triangle.png"
		alt="background-shape">
	<img class="team-bg-shape-4 up-down-animation img-fluid" src="../../images/background-shape/team-bg-dots.png"
		alt="background-shape">
</section>
<!-- /team -->

<!-- clients -->
<section class="section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-title">Other Tools</h2>
				<ul class="list-inline text-center">
					<li class="list-inline-item mx-5 mb-5"><a href="https://graph.project-mei.xyz"><img
								src="images/clients-logo/client-1.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://home.project-mei.xyz"><img
								src="images/clients-logo/client-2.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://portainer.project-mei.xyz"><img
								src="images/clients-logo/client-3.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a
							href="https://influxdb.project-mei.xyz"><img
								src="images/clients-logo/client-4.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://asf.project-mei.xyz"><img
								src="images/clients-logo/client-5.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://makoto.project-mei.xyz"><img
								src="images/clients-logo/client-6.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://github.com/docker-mailserver/docker-mailserver"><img
								src="images/clients-logo/docker-mailserver.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://mc.project-mei.xyz/"><img
								src="images/clients-logo/client-8.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5">
						<a href="https://www.abuseipdb.com/user/99149"
							title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks">
							<img src="https://www.abuseipdb.com/contributor/99149.svg" alt="AbuseIPDB Contributor Badge"
								style="width: 228px;border-radius: 5px;border-top: 5px solid #058403;border-right: 5px solid #111;border-bottom: 5px solid #111;border-left: 5px solid #058403;padding: 5px;background: #35c246 linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.3) 50%, rgba(0,0,0,.2) 51%, rgba(0,0,0,0));padding: 5px;box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .2);">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /clients -->