<!-- client logo slider -->
<section class="section">
	<div class="container">
		<div class="col-lg-12 text-center">
			<h2 class="section-title">Our Servers</h2>
			<p>Servers powered by Shogun.<br>
				Want yours here? <a class="text-purple" href="/contact">Contact us.</a>
			</p>
		</div>
		<div class="client-logo-slider align-self-center">
			<a href="https://dsc.gg/transience" title="Transient Realm" target="_blank"
				class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" style="border-radius: 50%;"
					src="images/clients-logo/client-logo-3.gif" alt="client-logo"></a>
			<a href="https://discord.gg/teriri" title="Teriri's Gaming Hub" target="_blank"
				class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" style="border-radius: 50%;"
					src="images/clients-logo/client-logo-1.gif" alt="client-logo"></a>
			<a href="/contact" title="Your Server Here" target="_blank"
				class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" style="border-radius: 50%;"
					src="images/clients-logo/client-logo-3.png" alt="client-logo"></a>
		</div>
	</div>
</section>
<!-- /client logo slider -->