<!-- clients -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-title">Other stuff I host</h2>
				<ul class="list-inline text-center">
					<li class="list-inline-item mx-5 mb-5"><a href="https://grafana.com/"><img
								src="images/clients-logo/client-1.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://github.com/MauriceNino/dashdot"><img
								src="images/clients-logo/client-2.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://www.portainer.io/"><img
								src="images/clients-logo/client-3.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a
							href="https://www.influxdata.com/products/influxdb-overview/"><img
								src="images/clients-logo/client-4.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://github.com/JustArchiNET/ArchiSteamFarm"><img
								src="images/clients-logo/client-5.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://github.com/kyb3r/modmail"><img
								src="images/clients-logo/client-6.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://github.com/modoboa/modoboa"><img
								src="images/clients-logo/client-7.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5"><a href="https://mc.project-mei.xyz/"><img
								src="images/clients-logo/client-8.png" alt="clients-logo" class="img-fluid"></a></li>
					<li class="list-inline-item mx-5 mb-5">
						<a href="https://www.abuseipdb.com/user/99149"
							title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks">
							<img src="https://www.abuseipdb.com/contributor/99149.svg" alt="AbuseIPDB Contributor Badge"
								style="width: 180px;border-radius: 5px;border-top: 5px solid #058403;border-right: 5px solid #111;border-bottom: 5px solid #111;border-left: 5px solid #058403;padding: 5px;">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /clients -->