<!-- product -->
<!-- <section class="section product" style="background-image: url(images/backgrounds/about-bg.png);"> -->
<section class="section product">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
				<h2 class="section-title">More about us</h2>
				<p class="mb-50">So far, I have only written stories about how we founded our beloved Shogun.
					But what about us? If you'd like to read about <b>our stories</b>, feel free to visit <mark>Raiden's
						blog.</mark>
					It's always a continous work in progress, but I wish to write about the little things in my life
					there.
					Maybe you'll learn about <mark><a class="text-info" data-toggle="collapse" href="#desc-ayaya"
							aria-expanded="false" aria-controls="desc-ayaya">
							Ayaya</a></mark> there too.
				</p>
				<div class="collapse" id="desc-ayaya">
					<div class="bg-transparent card card-body">
						<p>She is the one who has been taking care of me mentally.
							Among her countless contributions are overseeing Shogun and building our Minecraft server.
							She is a person very dear to me and one that I treasure the most.
						</p>
					</div>
				</div>
				</p>
			</div>
			<!-- Projects pictures
			<div class="col-md-4 col-sm-6 mb-50">
				<a href="https://dash.project-mei.xyz/" target="_blank"><img src="images/about/shogun-avatar.png" alt="product-img" class="rounded w-100 img-fluid"></a>
			</div>
			<div class="col-md-4 col-sm-6 mb-50">
				<a href="https://makoto.project-mei.xyz/" target="_blank"><img src="images/about/makoto-avatar.png" alt="product-img" class="rounded w-100 img-fluid"></a>
			</div>
			<div class="col-md-4 col-sm-6 mb-50">
				<a href="https://github.com/raidensakura/hoyolab-auto-login" target="_blank"><img src="images/about/mimu-icon.png" alt="product-img" class="rounded w-100 img-fluid"></a>
			</div>
			-->

			<div class="col-12 text-center my-5">
				<a href="https://blog.project-mei.xyz" class="btn btn-primary">Raiden's Blog</a>
			</div>
		</div>
	</div>

	@@include('blocks/vision.htm')

	@@include('blocks/clients.htm')
</section>
<!-- /product -->