<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Monitoring taken seriously</h2>
        <p class="mb-4"><a class="text-purple" href="https://status.project-mei.xyz/">Uptime monitoring tool</a> 
			running on <a class="text-purple" href="https://github.com/raidensakura/statuspage">GitHub Actions.</a> 
			This is to make sure no downtime of any service ever goes unnoticed by us.</p>
        <ul class="pl-0 service-list">
			<li><i class="ti-pulse text-purple"></i><a class="text-purple" href="https://graph.project-mei.xyz">Grafana metrics</a> 
				for self-amusement</li>
			<li><i class="ti-desktop text-purple"></i><a class="text-purple" href="https://home.project-mei.xyz">Publicly-accessible</a> 
			VPS dashboard showing system statistics.</li>
			<li><i class="ti-comment-alt text-purple"></i>Discord notification of disruption*
				<p><sub>*Join our <a class="text-purple" href="https://dsc.gg/transience">Support Server</a> for it</sub></p>
			</li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3" src="images/service/service.png" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="images/backgrounds/service-bg.png" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation" src="images/background-shape/service-half-cycle.png" alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation" src="images/background-shape/feature-bg-2.png" alt="background-shape">
</section>
<!-- /service -->