<!-- marketing -->
<section class="section-lg seo">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="seo-image">
					<img class="img-fluid" src="images/marketing/marketing.png" alt="form-img">
				</div>
			</div>
			<div class="col-md-5">
				<h2 class="section-title">Vast customization and features</h2>
				<p>Various highly customizable and advanced commands, while still packed with basic but useful features.</p>
				<p>Highlights of some features:</p>
				<ul class="pl-0 service-list">
					<li><i class="ti-calendar text-purple"></i>Schedule Repeating reminders or run custom commands via CRON</li>
					<li><i class="ti-bar-chart text-purple"></i>Detailed channel logging and statistics</li>
					<li><i class="ti-music text-purple"></i>Play music with no playback or feature limit</li>
				</ul>

			</div>
		</div>
	</div>
	<!-- background image -->
	<img class="img-fluid seo-bg" src="images/backgrounds/seo-bg.png" alt="seo-bg">
	<!-- background-shape -->
	<img class="seo-bg-shape-1 left-right-animation" src="images/background-shape/seo-ball-1.png" alt="bg-shape">
	<img class="seo-bg-shape-2 up-down-animation" src="images/background-shape/seo-half-cycle.png" alt="bg-shape">
	<img class="seo-bg-shape-3 left-right-animation" src="images/background-shape/seo-ball-2.png" alt="bg-shape">
</section>
<!-- /marketing -->