<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">She's Never Gonna Give You Up</h2>
        <p class="mb-4">Reliable Uptime and <a href="https://status.project-mei.xyz/" target="_blank">monitoring tool</a>, Raiden will surely be notified in-case she does <b>Let You Down.</b> Among other things that she has...</p>
        <ul class="pl-0 service-list">
			<li><i class="ti-pulse text-purple"></i>Grafana metrics for self-amusement</li>
			<li><i class="ti-desktop text-purple"></i>Status monitor running on GitHub Workflow</li>
			<li><i class="ti-comment-alt text-purple"></i>Discord server to rant when she's down*
				<p><sub>*Constructive rant only lol</sub></p>
			</li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3" src="images/service/service.png" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="images/backgrounds/service-bg.png" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation" src="images/background-shape/service-half-cycle.png" alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation" src="images/background-shape/feature-bg-2.png" alt="background-shape">
</section>
<!-- /service -->