<!-- team -->
<section class="section-lg team" id="team">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-title">Shogun's Owners</h2>
				<p class="mb-100">The owners who may or may not know how Shogun works.</p>
			</div>
		</div>
		<div class="col-10 mx-auto">
			<div class="team-slider">
				<!-- team-member -->
				<div class="team-member">
					<div class="d-flex mb-4">
						<div class="mr-3">
							<img class="rounded-circle img-fluid" src="images/team/raiden.jpg" alt="team-member">
						</div>
						<div class="align-self-center">
							<h4>Raiden</h4>
							<h6 class="text-color">Owner | Raiden#0812</h6>
						</div>
					</div>
					<p>A crybaby who often fix what's not broken, and most of the time end up actually breaking it.</p>
				</div>
				<!-- team-member -->
				<div class="team-member">
					<div class="d-flex mb-4">
						<div class="mr-3">
							<img class="rounded-circle img-fluid" src="images/team/ayaya.jpg" alt="team-member">
						</div>
						<div class="align-self-center">
							<h4>Ayaya</h4>
							<h6 class="text-color">Co-Owner | Vel#4466</h6>
						</div>
					</div>
					<p>The actual person who fix what Raiden breaks. Also fixes Raiden himself if he does break.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- backgound image -->
	<img src="images/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg">
	<!-- background shapes -->
	<img class="team-bg-shape-1 up-down-animation" src="images/background-shape/seo-ball-1.png" alt="background-shape">
	<img class="team-bg-shape-2 left-right-animation" src="images/background-shape/seo-ball-1.png"
		alt="background-shape">
	<img class="team-bg-shape-3 left-right-animation" src="images/background-shape/team-bg-triangle.png"
		alt="background-shape">
	<img class="team-bg-shape-4 up-down-animation img-fluid" src="images/background-shape/team-bg-dots.png"
		alt="background-shape">
</section>
<!-- /team -->