<!-- our vision -->
<section class="section" id="vision">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">Our Wish</h2>
        <p class="text-justify">Our <b>wish</b> is that Shogun will be able to serve
			the features she promise performantly and practically, in a way that's easy to understand and apply for common folks,
			while also fulfilling her duty to cater to those who need more advanced and technical features of Discord bots.</p>
      </div>
      <div class="col-md-6">
        <img src="images/about/vision.png" alt="vision" class="img-fluid w-100">
      </div>
    </div>
  </div>
</section>
<!-- /our vision -->